<md-step-body>
  <md-content layout-padding class="default-content">
    <p>First things first: tell us a little bit about yourself.</p>
    <form name="$ctrl.model">
      <div layout="row" layout-xs="column" layout-align="space-between">
        <md-input-container flex="45" flex-xs="100">
          <label>Your favorite comic book superhero</label>
          <input required name="superHero" ng-model="$ctrl.values.superHero">
          <div ng-messages="$ctrl.model.superHero.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="45" flex-xs="100">
          <label>Tv Series that you are currently watching</label>
          <input required name="serie" ng-model="$ctrl.values.serie">
          <div ng-messages="$ctrl.model.serie.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" layout-align="space-between">
        <md-input-container flex="45" flex-xs="100">
          <label>Wich one do you use: Bolacha  or biscoito?</label>
          <input required name="bolachaOrBiscoito" ng-model="$ctrl.values.bolachaOrBiscoito">
          <div ng-messages="$ctrl.model.bolachaOrBiscoito.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="45" flex-xs="100">
          <label>Whath is the best quote ever</label>
          <input required name="quoute" ng-model="$ctrl.values.quoute">
          <div ng-messages="$ctrl.model.quoute.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      </form>
    </md-content>
  </div>
</md-step-body>
<div ng-transclude></div>

