<md-step-body>
  <md-content layout-padding class="default-content">
    <div layout="row" layout-xs="column">
      <div flex="25" flex-xs="100">
        <img class="space-radio" width="150" height="230" src="{{ $ctrl.gameOfThrones.Poster }}">
      </div>
      <div flex="75" flex-xs="100">
        <h2>{{ $ctrl.gameOfThrones.Title }}</h2>
        <p>{{ $ctrl.gameOfThrones.Plot }}</p>
        <p>Got is an amazing TV Show. What is your favorite season?</p>

        <md-radio-group ng-model="$ctrl.model" ng-change="$ctrl.getSeason()" layout="row"   layout-xs="column" layout-align="space-between">
              <div layout="column" layout-align="center center">
                <md-radio-button value="1" class="md-primary">1</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="2" class="md-primary">2</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="3" class="md-primary">3</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="4" class="md-primary">4</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="5" class="md-primary">5</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="6" class="md-primary">6</md-radio-button>
              </div>
          </md-radio-group>
      </div>
    </div>
    <div layout="row" layout-margin ng-if="$ctrl.episodes">
      <div flex="100">
        <md-table-container>
          <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
              <tr md-row>
                <th md-column md-order-by="Episode"><span>Episode</span></th>
                <th md-column md-order-by="Title"><span>Title</span></th>
                <th md-column md-order-by="Released" md-numeric>Released</th>
                <th md-column md-order-by="imdbRating" md-numeric>Imdb Rating</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="episode in $ctrl.episodes | orderBy: query.order">
                <td md-cell>{{ episode.Episode }}</td>
                <td md-cell>{{ episode.Title }}</td>
                <td md-cell>{{ episode.Released | date:'dd/MM/yyyy'}}</td>
                <td md-cell>{{ episode.imdbRating }}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </div>
  </md-content>
</md-step-body>
<div ng-transclude></div>
