<md-step-body>
  <md-content layout-padding class="default-content">
    <div layout="row" layout-xs="column">
      <div flex="25" flex-xs="100">
        <img class="space-radio" src="http://placehold.it/150x230">
      </div>
      <div flex="75" flex-xs="100">
        <h2>Game of Thrones (2011)</h2>
        <p>A Guerra dos Tronos. Game of Thrones adapta para a TV a série literária As Crônicas de Gelo e Fogo, de George R.R. Martin. A série se passa em Westeros, uma terra reminiscente da Europa Medieval, onde as estações duram por anos ou até mesmo décadas.</p>
        <p>Got is an amazing TV Show. What is your favorite season?</p>
          <md-radio-group ng-model="$ctrl.model" ng-change="$ctrl.showEpisodes()" layout="row"   layout-xs="column" layout-align="space-between">
              <div layout="column" layout-align="center center">
                <md-radio-button value="1" class="md-primary">1</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="2" class="md-primary">2</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="3" class="md-primary">3</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="4" class="md-primary">4</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="5" class="md-primary">5</md-radio-button>
              </div>
              <div layout="column" layout-align="center center">
                <md-radio-button value="6" class="md-primary">6</md-radio-button>
              </div>
          </md-radio-group>
      </div>
    </div>
    <div layout="row" layout-margin ng-if="$ctrl.episodes">
      <div flex="100">
        <md-table-container>
          <table md-table multiple md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
              <tr md-row>
                <th md-column md-order-by="nameToLower"><span>Episode</span></th>
                <th md-column md-numeric md-order-by="calories.value"><span>Name</span></th>
                <th md-column md-numeric>Released</th>
                <th md-column md-numeric>Imdb Rating</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="episode in $ctrl.episodes">
                <td md-cell>{{ episode.id }}</td>
                <td md-cell>{{ episode.title }}</td>
                <td md-cell>{{ episode.released }}</td>
                <td md-cell>{{ episode.rating }}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </div>
  </md-content>
</md-step-body>
<div ng-transclude></div>
