<md-card class="card">
  <md-stepper id="stepper-demo" 
    md-mobile-step-text="$ctrl.isMobileStepText" 
    md-vertical="$ctrl.vertical" 
    md-linear="true"
    md-alternative="$ctrl.isAlternative">
    <md-step>
      <general-form model="$ctrl.generalForm" values="$ctrl.generalFormValues">
        <md-step-actions layout="row" layout-align="end">
          <md-button class="md-primary md-raised" ng-disabled="$ctrl.generalForm.$invalid" ng-click="$ctrl.next();">Next</md-button>
        </md-step-actions>
      </general-form>
    </md-step>
    <md-step>
      <choose-question 
        title="Wich of these is your favorite Star Wars movie?"
        radius="false"
        datas="$ctrl.movies"
        model="$ctrl.moviesSelected"
      >        
        <md-step-actions layout="row" layout-align="space-between">
            <md-button class="md-primary" ng-click="$ctrl.back()">Back</md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.saveMovies($ctrl.moviesSelected)" ng-disabled="!$ctrl.moviesSelected">Next</md-button>
        </md-step-actions>
      </choose-question>
    </md-step>
    <md-step>
      <game-of-thrones model="$ctrl.seasonSelected">
        <md-step-actions layout="row"  layout-align="space-between">
          <md-button class="md-primary" ng-click="$ctrl.back()">Back</md-button>
          <md-button class="md-primary md-raised" ng-click="$ctrl.next();" ng-disabled="!$ctrl.seasonSelected">Next</md-button>
        </md-step-actions>
      </game-of-thrones>
    </md-step>
    <md-step>
       <choose-question
          title="We take too serious to choose our restaurant, everyday. What kind of food do you like?"
          radius="true"
          datas="$ctrl.foods"
          model="$ctrl.foodsSelected"
        >
          <md-step-actions layout="row" layout-align="space-between">
            <md-button class="md-primary" ng-click="$ctrl.back()">Back</md-button>
             <md-button class="md-primary md-raised" ng-click="$ctrl.saveFoods($ctrl.foodsSelected)" ng-disabled="!$ctrl.foodsSelected">Next</md-button>
          </md-step-actions>
        </choose-question>
    </md-step>
    <md-step>
      <review formvalues="$ctrl.generalFormValues">
        <md-step-actions layout="row"  layout-align="space-between">
          <md-button class="md-primary" ng-click="$ctrl.back()">Back</md-button>
          <md-button class="md-primary md-raised" ng-click="$ctrl.showMessage = true;">Save</md-button>
        </md-step-actions>
      </review>
      <div ng-if="$ctrl.showMessage" class="sucess-message">
        <p>Thanks!</p>
      </div>
    </md-step>
  </md-stepper>
</md-card> 
